<%= render 'welcome/header' %> <br><br>
<h2 class="table-heading">Third Party Provider Bills</h2>

<div class="container">
	 <div style="margin-left:18%;"> 
	<br>
	<%= form_for :Date do |f| %>
		<% if not params[:start_date].blank?
		start_d =  Date::civil(params[:start_date][:year].to_i, params[:start_date][:month].to_i, params[:start_date][:day].to_i) 
		end_d = Date::civil(params[:end_date][:year].to_i, params[:end_date][:month].to_i, params[:end_date][:day].to_i) %>
		From <%= select_date start_d, prefix: :start_date %> 
		To <%= select_date end_d, prefix: :end_date %>
	<% else %>
		From <%= select_date Date.today, prefix: :start_date %> 
		To <%= select_date Date.today, prefix: :end_date %>
	<% end %>
</div></br>
<div class="actions">
<%= f.submit value:"Filter Result", :class=> 'form_submit' %>
</div>
<% end %>
	<table id="genExpenses" class="display responsive no-wrap">
		<thead>
			<tr>
				<th> </th>
				<th>Name</th>	
				<th>Address</th>
				<th>Contact No</th>
				<th>Bank Name</th>
				<th>Bank Branch</th>
				<th>Basic Rent</th>
				<th>Service Tax</th>
				<th>Total</th>
				<th>TDS</th>
				<th>Inspection Charges</th>
				<th>Amount to be forwarded</th>
			</tr>
		</thead>

		<tbody>
<%

	if not params[:start_date].blank?
		start_d =  Date::civil(params[:start_date][:year].to_i, params[:start_date][:month].to_i, params[:start_date][:day].to_i) 
		end_d = Date::civil(params[:end_date][:year].to_i, params[:end_date][:month].to_i, params[:end_date][:day].to_i)

		start_d = start_d.beginning_of_day
		end_d = end_d.end_of_day
end
%> 
			<% 
	bank=""
					i = 0
			@bills = BillTable.all
			if not params[:start_date].blank? 
				@bills= @bills.where(created_at: (start_d)..end_d)
				end 
			@bills.each do |bill|
				@quotation  = QuotationDetail.find(bill.quotation_id)
				@gen_set = ClientGenSet.find_by(quotation_detail_id: bill.quotation_id)
				if not @gen_set.third_party_gen_id.blank?
					@tp = ThirdPartyGen.find(@gen_set.third_party_gen_id)
					@tp.third_party_provider.name
				else
					next
				end
i +=1
				%>
			<tr>
				<td><%= i %></td>

				<%
								
#							 billDate = Date.parse(bill.date.to_s)
tds = ((bill.total.to_d / 100) * bill.tds.to_d).round(1)
			%>

			<td><%= @tp.third_party_provider.name %></td>
			<td><%= @tp.third_party_provider.address%></td>
			<td><%= @tp.third_party_provider.contactNo %></td>
			<td><%= bill.bank_name %></td>
			<td><%= bill.bank_branch %></td>
			<td><%= bill.rate %></td>
			<td><%= bill.service_tax%></td>
			<td><%= bill.total.round(1) %></td>
			<td><%= tds %></td>
			<td><%=  %></td>
			<td><%= (bill.total - tds - bill.total_exp).round(1)%></td>
		</tr>
		<%
			end
				%>
</tbody>
</table>
</div>

<script>
	$(document).ready(function() {
		$('#genExpenses').dataTable({
			responsive: true
		});
	} );
</script>
