@import "layout";

.genAvailHeading {
    font-weight: 200;	
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
}

.actions {
	.form_submit {
		@extend .send;
	}
}

.branch{
width: 27.5%;
}
